body{
    text-align: center;
    background-color: #ed9722;
}
#theProfileImage{
    margin: 20px;
    width: 200px;
    height: auto;
}
button{
    display: inline-block;
    justify-content: center;
}

#marryProfile{
    width: 100px;
    height: auto;
}