
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

body{
    text-align: center;
    background-color: #ed9722;
    font-family: 'Londrina Shadow', cursive;
}
p{
    font-family: 'Roboto Mono', monospace;
}
#theProfileImage{
    width: 300px;
    height: auto;
    background: #FDB750;        
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    justify-content: center;
}
#marryProfile{
    margin-top: 30px;
    
    width: 200px;
    height: auto;
    background: #FDB750;        
    padding: 10px 10px 10px 10px;
    border-radius: 25%;
    justify-content: center;
}
.marry > p {
    margin-bottom: 50px;
}
button{
    display: inline-block;
    justify-content: center;
    color: black;
    background: #ed9722;
    padding: 20px;
    border-color: black;
    border-radius: 10%;
    margin: 20px;
}

h3{
    font-size: 40px;
    margin-top: 60px;
    border-radius: 10%;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Open Sans Condensed', sans-serif;
}
h2{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
   

}
h1{
    font-size: 80px;
    margin-top: 70px;
    color: #FC2E20;
}
.howToPlay{
    margin-left: 20%;
    margin-right: 20%;
}
.endGameResult > p {
    margin-left: 30%;
    margin-right: 30%;
}


@media (max-width: 500px) {
    h1{
      font-size: 60px;
      margin-top: 20%;
      line-height: 20%;
    }
    .initial {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 20px 12px 0 12px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
    }
    .howToPlay{
        margin-left: 20%;
        margin-right: 20%;
        
    }
    #theProfileImage{
        width: 200px;
        height: auto;
        background: #FDB750;        
        padding: 10px 10px 10px 10px;
        border-radius: 10%;
        justify-content: center;
    }
    #marryProfile{
        margin-top: 10%;
        width: 100px;
        height: auto;
        background: #FDB750;        
        padding: 10px 10px 10px 10px;
        border-radius: 25%;
        justify-content: center;
    }
    .marry > p {
        font-size: 12px;
        margin-left: 20%;
        margin-right: 20%;
    }
}